

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-page {
  background-image: url("../about-bg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 60px 20px;
}


.hero {
  background: transparent;
  color: white;
  text-align: center;
  padding: 100px 20px;
}
.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 700;
}

.hero p {
  font-size: 20px;
  line-height: 1.6;
  opacity: 0.95;
}


.about-section {
  max-width: 1100px;
  margin: 0 auto;
  padding: 80px 20px;
  text-align: center;
  background: #e5e7eb;
}

.about-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #1f2937;
}

.about-section p {
  font-size: 18px;
  line-height: 1.8;
  color: #555;
  max-width: 800px;
  margin: 0 auto;
}


.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.feature-card {
  background: white;
  padding: 30px 25px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

.feature-card h3 {
  font-size: 22px;
  margin-bottom: 12px;
  color: #2563eb;
}

.feature-card p {
  font-size: 16px;
  color: #666;
}

/* Team Section */
.team-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.team-card {
  background: white;
  padding: 30px 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

.team-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

.team-card img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 4px solid #2563eb
}

.team-card h3 {
  font-size: 22px;
  margin-bottom: 8px;
  color: #1f2937;
}

.team-card p {
  font-size: 16px;
  color: #6b7280;
}


.contact {
  background: #1f2937;
  color: white;
  border-radius: 12px;
  margin-top: 40px;
  margin-bottom: 80px;
}

.contact h2 {
  color: white;
}

.contact p {
  color: #e5e7eb;
  margin-top: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .hero {
    padding: 80px 20px;
  }

  .hero h1 {
    font-size: 36px;
  }

  .hero p {
    font-size: 18px;
  }

  .about-section {
    padding: 60px 20px;
  }

  .about-section h2 {
    font-size: 30px;
  }

  .about-section p {
    font-size: 16px;
  }
}