.profile-page {
  min-height: 100vh;
  padding: 120px 0;
 background: linear-gradient(
  135deg,
  #f8fafc,
  #e2e8f0,
  #ffffff
);
}

.profile-card {
  border-radius: 25px;
  overflow: hidden;
  background: white;
  backdrop-filter: blur(12px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}

.profile-cover {
  height: 121px;
  background: linear-gradient(
    135deg,
    #ff4a17,
    #ff7a17
  );
  position: relative;
}

.profile-image {
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);

  width: 140px;
  height: 140px;

  border-radius: 50%;
  background: white;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 6px solid white;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.profile-image i {
  font-size: 70px;
  color:var(--accent-color);
}

.profile-content {
  padding: 100px 40px 50px;
  text-align: center;
  
  color: #1e293b;

}

.profile-content h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 8px;
}

.profile-role {
  color: #64748b;
  font-size: 16px;
}

.info-box {
 background: #f8fafc;
  padding: 30px 20px;
  border-radius: 20px;
  transition: 0.3s;
  height: 100%;
}

.info-box:hover {
  transform: translateY(-5px);
}

.info-box i {
  font-size: 32px;
  color:var(--accent-color);
  margin-bottom: 15px;
}

.info-box h6 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}

.info-box p {
 color: #64748b;
  margin-bottom: 0;
  word-break: break-word;
}

.profile-buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.edit-btn {
  border: none;
  padding: 12px 30px;
  border-radius: 12px;
  color: white;
  font-weight: 600;
  background: linear-gradient(
    135deg,
    var(--accent-color),
    var(--accent-color-light)
  );
  transition: 0.3s;
}

.edit-btn:hover {
  transform: scale(1.05);
}

.booking-btn {
 border: 2px solid var(--accent-color);
color:var(--accent-color);
  padding: 12px 30px;
  border-radius: 12px;
  
  background: transparent;
  font-weight: 600;
  transition: 0.3s;
}

.booking-btn:hover {
 background: var(--accent-color);
color: white;
}
.logout-btn{
  padding: 12px 28px;
  border: none;
  border-radius: 12px;
  background:transparent;
  border:2px solid var(--accent-color);
  color: var(--accent-color);
  font-weight: 600;
  transition: 0.3s;
}

.logout-btn:hover{
  background: var(--accent-color);
  transform: translateY(-2px);
}

/* Responsive */

@media (max-width: 768px) {

  .profile-content {
    padding: 100px 20px 40px;
  }

  .profile-content h2 {
    font-size: 26px;
  }

  .info-box {
    padding: 25px 15px;
  }

}